<div class="container">
  <div class="row">
    <div class="col-2">
      <nav class="nav flex-column">
        <a class="btn btn-outline-info mb-2" *ngFor="let route of sideRoutes" [routerLinkActive]="['btn-primary']"
           [routerLink]="[route.path]">{{route.title}}</a>
      </nav>
    </div>
    <div class="col">
      <a class="btn btn-primary me-2" *ngFor="let route of additionalRoutes" [routerLink]="[route.path]">{{route.title}}</a>
      <div class="mt-4">
        <ng-template [ngTemplateOutlet]="body"></ng-template>
      </div>
    </div>
  </div>
</div>
