<!-- <div class="content">
  <div class="card">

    <div class="logo">
      <img id="logo" src="assets/svg/brand-img.svg" alt="logo">
    </div>
      <h2>Профессиональная разработка програмного обеспечения.</h2>
      <h1>Давайте знакомиться!</h1>
    <div class="bi-border-right">
      <h2>Первый шаг</h2>
      <div class="col-9">Привет, мы компания <b>66bit.</b> Вы здесь, а значит вы откликнулись на одну из наших вакансий. Мы рады, что смогли заинтересовать вас.  Вы уже сделали первый шаг на пути к тому, чтобы стать частью нашей команды. Надеемся, что вы пройдёте этот путь полностью, а пока вы можете познакомиться с нашим рабочим процессом.</div>
   </div>
  </div>
  <div class="card">
    <div class="bi-border-right">
    <h2>Гибкий график и забота о сотрудниках</h2>
    <ul>
      <li>
        <div>Мы хотим дать нашим сотрудникам максимально комфортные условия для работы. Вы можете сами выбрать начало рабочего дня и иногда даже работать из дома. Вы всегда сможете отпросится на важное мероприятие. </div>
      </li>
      <li>
        <div>Мы ценим результат, а не время в офисе, поэтому ваша зарплата будет расти пропорционально навыкам.</div>
      </li>
      <li>
      <div>Мы прислушиваемся  к мнению всех членов команды при выборе технологий. Вы сами выбираете, что использовать, в рамках бюджета.</div>
      </li>
    </ul>
    </div>
  </div>
  <div class="card">
    <div class="bi-border-right">
    <h2>Активный молодой коллектив</h2>
    <ul>
      <li>
        <div>Наш коллектив это в первую очередь дружная команда. Поэтому мы часто проводим различные групповые активности: ЧГК, корпоративы на природе или в бильярде. А ещё мы очень любим моноколёса и научим вас кататься, если захотите. </div>
      </li>
      <li>
        <div>Кроме того мы ценим стремление учиться. Мы часто посещаем конференции и хакатоны и иногда даже за границей.</div>
      </li>
      <li>
        <div>
          Мы хотим, чтобы в офисе вы чувствовали себя как дома. Поэтому всегда держим на готове чай с печеньками и многие другие вкусности.</div>
      </li>
    </ul>
    <div>
      <div class="card">
      <div class="bi-border-right">
      Подписывайтесь на наш инстаграм, чтобы быть в курсе всех событий!
    </div>
        <div>
    </div>
    <div>
      <b>@66bit.official</b>
    </div>
    <div>
      Надеемся, что ваше желание работать с нами лишь усилилось. Желаем вам успехов в прохождении отбора.
    </div>
    <div>
      До скорой встречи!
    </div>
  </div>
    </div></div></div></div> -->
<div class="content">
  <p> Приветствуем!</p>
  <p> Вы были приглашены на асинхронное интервью.</p>

  <p>Удобством такого подхода для нас являетсяx
    экономия ресурсов на отбор канидатов.</p>
    <p>А для вас возможность прохождения в любом месте
    и в любое время.</p>

    <p>Во время интервью будет производится запись.
    Вам необходимо дать согласие на обрабтку данных и
    разрешение на использование записывающих устройств.</p>
    <div class="checkBox1">

    <div>
      <input type="checkbox" id="scales" name="scales" checked>
      <label for="scales">Даю согласие на обработку данных.</label>
    </div>
    <div>
      <input type="checkbox" id="scales" name="scales" checked>
      <label for="scales">Разрешаю доступ к микрофону.</label>
    </div>
    <div>
      <input type="checkbox" id="scales" name="scales" checked>
      <label for="scales">Разрешаю доступ к камере.</label>
    </div>

  </div>
  <button class="favorite styled"
        type="button">
        Далее </button>
</div>
