.navbar-brand {
  justify-content: flex-start;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

header {
  width: 100%;
  display: block;
  overflow: hidden;
}

header a {
  box-sizing: border-box;
}

.header_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  background:#007BFF
}


header a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-nav {
  align-items: center;
  padding: 10px;
  display: flex;

}
svg {
  background: white;
  justify-content: flex-start;

}
header a:active {
  background-color: rgb(145, 150, 153);
}

footer {
  height: 50px;
}
