<div class="container bg-white p-3 rounded-3 shadow-sm" style="width: 40%">
  <form [formGroup]="myForm" (submit)="onSubmit()">
    <h1>Создание HR аккаунта</h1>
    <div class="mb-3">
      <label for="login" class="form-label">Логин</label>
      <input type="text" class="form-control" formControlName="login" id="login">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Пароль</label>
      <input type="password" class="form-control" formControlName="password" id="password">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Фамилия</label>
      <input type="text" class="form-control" formControlName="surname" id="surname">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Имя</label>
      <input type="text" class="form-control" formControlName="name" id="name">
    </div>
    <button type="submit" class="btn btn-outline-success" [disabled]="!myForm.valid">
      <i class="bi bi-pen"></i>
      Создать
    </button>
  </form>
</div>
