/* *{width: 100%;}  */
h2 {
  color: rgba(52, 58, 64, 1);
  border-bottom: 1px solid #8f979c;
  font-weight: 400;
}

.data-header {
  margin: auto 20px;
}

.input-form {
  padding: 20px;
  width: 100%;
}

.bio-data {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.label-form {
  color: rgba(26, 134, 251, 1);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}

input {
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.25);
  border: 0;
}

.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.accept-button {
  background: #1A86FB;
  color: white;
  border: 0;
  width: 100%;
  height: 40px;
}

.accept-button:disabled {
  opacity: 0.5;
}
